.navbar-nav .nav-link {
	padding-left: 0.5rem;
}
.navbar-nav a {
	color: #e5e5e5;
	transition: all ease 0.5s;
}
.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active,
.navbar-nav a.hilite {
	color: #bfbfbf;
	background: #e57373;
	border-bottom: 1px #7f7f7f solid;
}
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width: 48em) {
	.navbar-nav a:hover,
	.navbar-nav a:focus,
	.navbar-nav a:active,
	.navbar-nav a.hilite {
		transform: translateY(0.5rem) scaleY(1.2);
	}
	.navbar-nav .nav-link {
		padding-left: 0;
	}
}
